html {
    font-size: 62.5%;
}

body {
    background-color: var(--black);
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    margin-left: 1rem;
    color: var(--red);
    font-size: 5rem;
    font-weight: 700;
}

header .container nav a {
    margin-right: 20px;
    font-size: 2rem;
    color: var(--nav-color);
}

header .container nav a:hover {
    color: white;
}

/* Main Movie */

.banner {
    font-size: 1.6rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/office-banner.jpg');
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container .tittle-movie {
    margin-top: 10%;
    font-size: 4rem;
    font-weight: 500;
}

.container .description-movie {
    margin-top: 10px;
    margin-bottom: 40px;
}

.container .btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 35px;
    margin-right: 15px;
    font-size: 1.1rem;
}

.container .btn:hover{
    cursor: pointer;
    background-color: white;
    color: #000000;
    transition: ease-in-out 0.5s;
}

.btn i {
    margin-right: 6px;
}